* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    /* font: normal 16px sans-serif; */
    /* color: #555; */
}

body {
    /* border: 2px solid black; */
    margin: 0;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    z-index: -2;
    background-image: url("foodmain.jpg");
}

@keyframes slidein {
    100% {
        right: 10%;
    }
}

#h1 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 3rem;
    padding: 3rem;
    margin-left: 3rem;
    color: black;
    text-decoration: none;
    letter-spacing: 0.2px;
}

#h2 {
    text-align: right;
}

#c1 {
    font-family: 'Maiden Orange', cursive;
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
    line-height: 0;
}

#c2 {
    font-family: 'Maiden Orange', cursive;
    font-weight: 700;
    font-size: 4rem;
    padding-top: 0;
    margin-top: 0;
}

#h3 {
    font-size: 8rem;
    margin: 0px;
}

a {
    color: black;
    cursor: pointer;
}

.navbar {
    font-family: 'Red Rose', cursive;
    font-size: 2rem;
    list-style: none;
}

.fa-bars {
    font-size: 2rem;
    color: black;
}

.navbar a:hover {
    color: black;
    text-decoration: none;
    animation: 0.5s link 0s forwards;
}

@keyframes link {
    100% {
        text-decoration: underline;
    }
}

.content {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 682px;
    width: 100%;
    padding: 90px;
    animation: 2s moveup 0s forwards;
    /* background: red; */
}

.item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.item1 h1 {
    font-family: 'Red Rose', cursive;
    font-size: 4rem;
}

.item1.btn {
    width: 40%;
}

.item1 h3 {
    font-family: 'Leckerli One', cursive;
    font-size: 3rem;
}

.item1 hr {
    height: 3px;
    width: 60%;
    background-color: grey;
}


@keyframes moveup {
    100% {
        margin-top: 3px;
        padding-top: 1%;
    }
}

@media (max-width: 1360px) {
    body {
        line-height: 0.8;
    }

    .leaf {
        display: none;
    }

    #c2 {
        font-size: 2rem;
    }

    .content {
        justify-content: start;
        height: 621px;
        margin-top: 90px;
    }

    .item1 {
        width: 40%;
    }

    .cropped {
        right: 1%;
        width: 65%;
    }

    @keyframes slidein {
        100% {
            right: 10%;
        }
    }

    @keyframes moveup {
        100% {
            margin-top: 3px;
        }
    }
}

Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

section hr {
    width: 250px;
    height: 3px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 50px;
}

hr {
    background-color: #3f51b5;
}

section h3.title {
    text-transform: capitalize;
    font: bold 32px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

.carousel-item img {
    opacity: 0.75;
}

.card-title {
    font-family: 'Leckerli One', cursive;
    font-size: 3rem;
}

.card-text {
    font-family: 'Maiden Orange', cursive;
    font-weight: 400;
    font-size: 1.3rem;
}

@media (max-width: 700px) {
    .content>div {
        width: 25rem;
    }

    .card-text {
        font-size: 1.5rem;
        font-weight: 250;
    }

    .card-title {
        font-size: 1.5rem;
    }

    @keyframes slidein {
        100% {
            right: 25%;
        }
    }
}

@media (max-width: 900px) {
    .back {
        opacity: 0.6;
    }

    .destinations {
        margin-top: 13rem;
        ;
    }

    .content {
        padding: 1px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .content>div {
        align-self: center;
        height: 20rem;
        width: 30rem;
    }

    .card-text {
        font-size: 1.5rem;
        font-weight: 250;
    }

    .card-title {
        font-size: 2rem;
    }

    @keyframes slidein {
        100% {
            right: 15%;
        }
    }

    @keyframes moveup {
        100% {
            margin-top: 3px;
        }
    }
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.darken-grey-text {
    color: #2E2E2E;
}

.form {
    width: 100%;
    height: 60px;
    border-radius: 7px;
    padding: 2rem;
}

.btn.form {
    padding: 1rem;
}

.grid {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Destinations Style */
.destinations .grid li {
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.destinations .grid li.small {
    flex-basis: 30%;
}

.destinations .grid li.large {
    flex-basis: 70%;
}

@media (max-width: 1100px) {

    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: 50%;
    }
}


.section-project {
    padding: 50px 0;
    position: relative;
    background-color: #222;
}




.project-carousel {
    position: relative;
    padding: 50px 0;
}

.project-strip {
    margin: 150px 0 150px;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.project-strip .project {
    cursor: pointer;
}

.project-strip img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.project-screen {
    width: 768px;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.project-screen .project-detail {
    position: absolute;
    left: 0;
    right: 0;
    width: 578px;
    height: 361px;
    margin: 32px auto 0;
    z-index: 1;
    background-color: #333;
}

.project-screen .screen-frame {
    content: " ";
    width: 768px;
    height: 400px;
    position: absolute;
    background-image: url("https://dl.dropboxusercontent.com/u/26808427/cdn/experiments/training/macbook-frame.png");
    background-repeat: no-repeat;
}

.project-screen .project {
    margin-right: -100%;
    float: left;
    cursor: move;
}